Source: libs3
Section: net
Priority: extra
Maintainer: Kurento Team <kurento@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 pkg-config,
 libxml2-dev,
 libcurl4-gnutls-dev
Standards-Version: 3.9.4
Vcs-Git: git://github.com:bji/libs3.git

Package: libs3-2
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Library to handle Amazon S3 storage

Package: libs3-2-dev
Architecture: any
Depends: ${misc:Depends},
 libs3-2 (= ${binary:Version})
Description: Library to handle Amazon S3 storage.
 This package includes development files.

Package: libs3-2-dbg
Architecture: any
Depends: ${misc:Depends},
 libs3-2 (= ${binary:Version})
Description: Library to handle Amazon S3 storage.
 This package includes debug files.
